{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
    <h1>Editar provincia</h1>
    <p>{{ form(edit_form) }}</p>
        <ul class="record_actions">
            <li>
                <a href="{{ path('provincia') }}">
                    Volver al listado
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
</div> <!-- /container -->

{% endblock %}
