{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
    <h3>Editar provincia</h3>
    
    {{ form(edit_form) }}
    <table>
                <tr>
                    <td>{{ form(edit_form) }}</td> 
                    <td><a class="btn btn-sm btn-primary" type="button" href="{{ path('provincia')}}">Volver al listado</a></td>                    
                    <td>{{ form(delete_form)}}</td>
                </tr>
        </table>
       
    </div>
</div> <!-- /container -->

{% endblock %}
