{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Crear Producto</h1>

    {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('producto') }}">
                    Volver al listado
                </a>
            </li>
        </ul>
    </div>
</div> <!-- /container -->

{% endblock %}
