{% extends 'FacturaBundle::layout.html.twig' %}

{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Editar Detalle</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('detalle') }}">
                    Volver al listado
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
</div> <!-- /container -->

{% endblock %}
