{% extends 'FacturaBundle::layout.html.twig' %}


{% block body %}
<!-- Static navbar -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <h2 style="text-align:center;">¡Bienvenido {{app.user.username}}!</h2>
        {% endif %}
              
            
            </div>
  
</div>  
    </div>
</div> <!-- /container -->

{% endblock %}


